@model List<ECommerce.Model.EFModel.Models.SystemInfomation>
@using Microsoft.EntityFrameworkCore
@{
    //var db = new ECommerce.Model.EFModel.ApplicationDbContext(new DbContextOptions(),(new DbContextOptionsBuilder()).UseSqlServer(""));
    //Model = ECommerce.Models.View.StaticData.SystemInfos;
    var Email = Model.Where(x => x.Type == "Email").FirstOrDefault();
    var Address = Model.Where(x => x.Type == "Address").FirstOrDefault();
    var PhoneMainContact = Model.Where(x => x.Type == "PhoneMainContact").FirstOrDefault();
    var Facebook = Model.Where(x => x.Type == "Facebook").FirstOrDefault().Value ?? "#";
    var GooglePlus = Model.Where(x => x.Type == "GooglePlus").FirstOrDefault().Value ?? "#";
    var Twitter = Model.Where(x => x.Type == "Twitter").FirstOrDefault().Value ?? "#";
}



<!-- Footer -->
<footer id="footer">
    <div class="container">
        <!-- introduce-box -->
        <div id="introduce-box" class="row">
            <div class="col-md-3">
                <div id="address-box">
                    <a href="#">
                        <img src="/assets/images/main-logo.png" alt="logo"
                             style="height: 150px;width: 100%;" />
                    </a>
                    <div id="address-list">
                        <div class="tit-name">@language.ADDRESS:</div>
                        <div class="tit-contain">@Address.Value</div>
                        <div class="tit-name">@language.PHONE :</div>
                        <div class="tit-contain"><a href="tel:@PhoneMainContact.Value">@PhoneMainContact.Value</a></div>
                        <div class="tit-name">Email:</div>
                        <div class="tit-contain"><a href="mailto:@Email.Value">@Email.Value</a></div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="introduce-title">@language.ABOUT_US</div>
                        <ul id="introduce-company" class="introduce-list">
                            <li><a asp-controller="lien-he">@language.CUSTOMER_SAY_ABOUT_US</a></li>
                            <li><a asp-controller="lien-he">@language.COLLABORATIVE_PROGRAM</a></li>
                            @*<li><a href="#">Chính sách && hỗ trợ</a></li>*@
                            <li><a asp-controller="lien-he">@language.CONTACT_US</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-4">
                        <div class="introduce-title">@language.MY_ACCOUNT</div>
                        <ul id="introduce-Account" class="introduce-list">
                            @*<li><a href="#">@language.MY_ORDER</a></li>
                            <li><a href="#">@language.MY_BALANCE</a></li>
                            <li><a href="#">@language.MY_ADDRESS</a></li>
                            <li><a href="#">@language.WRITE_A_REVIEW</a></li>*@
                        </ul>
                    </div>
                    <div class="col-sm-4">
                        <div class="introduce-title">@language.SUPPORT</div>
                        <ul id="introduce-support" class="introduce-list">
                            <li><a asp-controller="lien-he">@language.CUSTOMER_SAY_ABOUT_US</a></li>
                            <li><a asp-controller="lien-he">@language.COLLABORATIVE_PROGRAM</a></li>
                            @*<li><a href="#">Chính sách && hỗ trợ</a></li>*@
                            <li><a asp-controller="lien-he">@language.CONTACT_US</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div id="contact-box">
                    <div class="introduce-title">@language.WRITE_LETTER_TO_US</div>
                    <div class="input-group" id="mail-box">
                        <input type="text" placeholder="Your Email Address" />
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button">@language.SEND</button>
                        </span>
                    </div><!-- /input-group -->
                    <div class="introduce-title">@language.SOCIAL_PAGES</div>
                    <div class="social-link">
                        <a href="@Facebook"><i class="fa fa-facebook"></i></a>
                        @*<a href="#"><i class="fa fa-pinterest-p"></i></a>
                            <a href="#"><i class="fa fa-vk"></i></a>*@
                        <a href="@Twitter"><i class="fa fa-twitter"></i></a>
                        <a href="@GooglePlus"><i class="fa fa-google-plus"></i></a>
                    </div>
                </div>

            </div>
        </div><!-- /#introduce-box -->
        @* <!-- #trademark-box -->
            <div id="trademark-box" class="row">
                <div class="col-sm-12">
                    <ul id="trademark-list">
                        <li id="payment-methods">Hỗ trợ các loại thẻ</li>
                        <li>
                            <a href="#"><img src="/assets/data/trademark-ups.jpg" alt="ups" /></a>
                        </li>
                        <li>
                            <a href="#"><img src="/assets/data/trademark-qiwi.jpg" alt="ups" /></a>
                        </li>
                        <li>
                            <a href="#"><img src="/assets/data/trademark-wu.jpg" alt="ups" /></a>
                        </li>
                        <li>
                            <a href="#"><img src="/assets/data/trademark-cn.jpg" alt="ups" /></a>
                        </li>
                        <li>
                            <a href="#"><img src="/assets/data/trademark-visa.jpg" alt="ups" /></a>
                        </li>
                        <li>
                            <a href="#"><img src="/assets/data/trademark-mc.jpg" alt="ups" /></a>
                        </li>
                        <li>
                            <a href="#"><img src="/assets/data/trademark-ems.jpg" alt="ups" /></a>
                        </li>
                        <li>
                            <a href="#"><img src="/assets/data/trademark-dhl.jpg" alt="ups" /></a>
                        </li>
                        <li>
                            <a href="#"><img src="/assets/data/trademark-fe.jpg" alt="ups" /></a>
                        </li>
                        <li>
                            <a href="#"><img src="/assets/data/trademark-wm.jpg" alt="ups" /></a>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- /#trademark-box -->
            <!-- #trademark-text-box -->
            <div id="trademark-text-box" class="row">
                <div class="col-sm-12">
                    <ul id="trademark-search-list" class="trademark-list">
                        <li class="trademark-text-tit">Sản phẩm được tìm nhiều nhất:</li>
                        <li><a href="#">Xiaomo Mi3</a></li>
                        <li><a href="#">Digifli Pro XT 712 Tablet</a></li>
                        <li><a href="#">Mi 3 Phones</a></li>
                        <li><a href="#">Iphoneo 6 Plus</a></li>
                        <li><a href="#">Women's Messenger Bags</a></li>
                        <li><a href="#">Wallets</a></li>
                        <li><a href="#">Women's Clutches</a></li>
                        <li><a href="#">Backpacks Totes</a></li>
                    </ul>
                </div>
                <div class="col-sm-12">
                    <ul id="trademark-tv-list" class="trademark-list">
                        <li class="trademark-text-tit">Đồng hồ nam:</li>
                        <li><a href="#">Sonyo TV</a></li>
                        <li><a href="#">Samsing TV</a></li>
                        <li><a href="#">LGG TV</a></li>
                        <li><a href="#">Onidai TV</a></li>
                        <li><a href="#">Toshibao TV</a></li>
                        <li><a href="#">Philipsi TV</a></li>
                        <li><a href="#">Micromax TV</a></li>
                        <li><a href="#">LED TV</a></li>
                        <li><a href="#">LCD TV</a></li>
                        <li><a href="#">Plasma TV</a></li>
                        <li><a href="#">3D TV</a></li>
                        <li><a href="#">Smart TV</a></li>
                    </ul>
                </div>
                <div class="col-sm-12">
                    <ul id="trademark-mobile-list" class="trademark-list">
                        <li class="trademark-text-tit">Đồng hồ nữ:</li>
                        <li><a href="#">Moto E</a></li>
                        <li><a href="#">Samsing Mobile</a></li>
                        <li><a href="#">Micromaxi Mobile</a></li>
                        <li><a href="#">Nokian Mobile</a></li>
                        <li><a href="#">HTCK Mobile</a></li>
                        <li><a href="#">Sonyo Mobile</a></li>
                        <li><a href="#">Appleo Mobile</a></li>
                        <li><a href="#">LGG Mobile</a></li>
                        <li><a href="#">Karbonno Mobile</a></li>
                    </ul>
                </div>
                <div class="col-sm-12">
                    <ul id="trademark-laptop-list" class="trademark-list">
                        <li class="trademark-text-tit">Đồng hồ cặp::</li>
                        <li><a href="#">Appleo Laptop</a></li>
                        <li><a href="#">Acero Laptop</a></li>
                        <li><a href="#">Samsing Laptop</a></li>
                        <li><a href="#">Lenov Laptop</a></li>
                        <li><a href="#">Sonyo Laptop</a></li>
                        <li><a href="#">Dello Laptop</a></li>
                        <li><a href="#">Asuso Laptop</a></li>
                        <li><a href="#">Toshibao Laptop</a></li>
                        <li><a href="#">LGG Laptop</a></li>
                        <li><a href="#">HPO Laptop</a></li>
                        <li><a href="#">Notebook</a></li>
                    </ul>
                </div>
                <div class="col-sm-12">
                    <ul id="trademark-watches-list" class="trademark-list">
                        <li class="trademark-text-tit">Đồng hồ trẻ em:</li>
                        <li><a href="#">FCUKJ Watches</a></li>
                        <li><a href="#">Titan Watches</a></li>
                        <li><a href="#">Casioo Watches</a></li>
                        <li><a href="#">Fastracki Watches</a></li>
                        <li><a href="#">Timexe Watches</a></li>
                        <li><a href="#">Fossill Watches</a></li>
                        <li><a href="#">Diesel Watches</a></li>
                        <li><a href="#">Toshibao Laptop</a></li>
                        <li><a href="#">Luxury Watches</a></li>
                    </ul>
                </div>
                <div class="col-sm-12">
                    <ul id="trademark-shoes-list" class="trademark-list">
                        <li class="trademark-text-tit">Mắt kính:</li>
                        <li><a href="#">Shoes</a></li>
                        <li><a href="#">Casual Shoes</a></li>
                        <li><a href="#">Sports Shoes</a></li>
                        <li><a href="#">Adidas Shoes</a></li>
                        <li><a href="#">Gas Shoes</a></li>
                        <li><a href="#">Puma Shoes</a></li>
                        <li><a href="#">Reebok Shoes</a></li>
                        <li><a href="#">Woodland Shoes</a></li>
                        <li><a href="#">Red tape Shoes</a></li>
                        <li><a href="#">Nike Shoes</a></li>
                    </ul>
                </div>
            </div>
            <!-- /#trademark-text-box -->
        *@
        <div id="footer-menu-box">
            <div class="col-sm-12">
                <ul class="footer-menu-list">
                    <li><a href="#">@language.COMPANY_INFO - @language.COLLABORATORS</a></li>
                </ul>
            </div>
            <!-- <div class="col-sm-12">
                <ul class="footer-menu-list">
                    <li><a href="#" >Online Shopping</a></li>
                    <li><a href="#" >Promotions</a></li>
                    <li><a href="#" >My Orders</a></li>
                    <li><a href="#" >Help</a></li>
                    <li><a href="#" >Site Map</a></li>
                    <li><a href="#" >Customer Service</a></li>
                    <li><a href="#" >Support</a></li>
                </ul>
            </div>
            <div class="col-sm-12">
                <ul class="footer-menu-list">
                    <li><a href="#" >Most Populars</a></li>
                    <li><a href="#" >Best Sellers</a></li>
                    <li><a href="#" >Mẫu mới</a></li>
                    <li><a href="#" >Special Products</a></li>
                    <li><a href="#" >Manufacturers</a></li>
                    <li><a href="#" >Our Stores</a></li>
                    <li><a href="#" >Shipping</a></li>
                    <li><a href="#" >Payments</a></li>
                    <li><a href="#" >Warantee</a></li>
                    <li><a href="#" >Refunds</a></li>
                    <li><a href="#" >Checkout</a></li>
                    <li><a href="#" >Discount</a></li>
                </ul>
            </div> -->
            <div class="col-sm-12">
                <ul class="footer-menu-list">
                    @*<li><a href="#">@language.TEMP_CONDITION </a></li>*@
                    <li><a asp-controller="chinh-sach">@language.POLICY</a></li>
                    @*<li><a href="#">@language.DELIVERY</a></li>
                        <li><a href="#">@language.PAYMENT</a></li>
                        <li><a href="#">@language.RETURN</a></li>
                        <li><a href="#">@language.REFUND</a></li>
                        <li><a href="#">@language.GUARANTEE</a></li>*@
                    <li><a href="#">@language.FREQUENTLY_QUESTION</a></li>
                    <li><a asp-controller="lien-he">@language.CONTACT</a></li>
                </ul>
            </div>
            <p class="text-center">
                Copyrights &#169; 2020 PWATCH. All Rights Reserved. Designed by DuyTung.Developer
            </p>
        </div><!-- /#footer-menu-box -->
    </div>
</footer>
<!-- End Footer -->