@{
    var Title = ECommerce.Models.View.StaticData.SystemInfos.Where(x => x.Type == "MainTittle").FirstOrDefault().Value;
    var viewTitle = "";
    try { viewTitle = ViewData["Title"].ToString().Contains("ECommerce") ? "" : ViewData["Title"].ToString(); } catch { }
    var finalTitle = Title + (string.IsNullOrEmpty(viewTitle) ? "" : " - " + viewTitle);
}
<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@finalTitle</title>
    <link rel="icon" type="image/x-icon" href="~/assets/images/main-logo.ico" />

    <link rel="stylesheet" type="text/css" href="/assets/lib/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/assets/lib/font-awesome/css/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href="/assets/lib/select2/css/select2.min.css" />
    <link rel="stylesheet" type="text/css" href="/assets/lib/jquery.bxslider/jquery.bxslider.css" />
    <link rel="stylesheet" type="text/css" href="/assets/lib/owl.carousel/owl.carousel.css" />
    <link rel="stylesheet" type="text/css" href="/assets/lib/jquery-ui/jquery-ui.css" />
    <link rel="stylesheet" type="text/css" href="/assets/css/animate.css" />
    <link rel="stylesheet" type="text/css" href="~/lib/toastr/toastr.min.css" />
    <link rel="stylesheet" type="text/css" href="~/lib/rateit.js-master/scripts/rateit.css" />
    <link rel="stylesheet" type="text/css" href="/assets/css/reset.css" />
    <!-- <link rel="stylesheet" type="text/css" href="assets/css/style.css" /> -->
    <link rel="stylesheet" type="text/css" href="/assets/css/main.css" />
    <link rel="stylesheet" type="text/css" href="/assets/css/responsive.css" />

    <environment include="Development">
        <link rel="stylesheet" href="/assets/css/index.min.css" asp-append-version="true" />
    </environment>
    <environment include="Staging,Production">
        <link rel="stylesheet" href="/assets/css/index.min.css" asp-append-version="true" />
    </environment>
    <style>
        .float-contact {
            position: fixed;
            bottom: 20px;
            left: 20px;
            z-index: 99999;
        }

        .chat-zalo {
            background: #8eb22b;
            border-radius: 20px;
            padding: 4px 18px;
            color: white;
            display: block;
            margin-bottom: 6px;
            border: 0;
        }

        .chat-face {
            background: #125c9e;
            border-radius: 20px;
            padding: 4px 18px;
            color: white;
            display: block;
            margin-bottom: 6px;
            border: 0;
        }

        .float-contact .hotline {
            background: #d11a59 !important;
            border-radius: 20px;
            padding: 4px 18px;
            color: white;
            display: block;
            margin-bottom: 6px;
            border: 0;
        }

        .chat-zalo a, .chat-face a, .hotline a {
            font-size: 15px;
            color: white;
            font-weight: 400;
            text-transform: none;
            /*line-height: 0;*/
        }

    </style>
    @RenderSection("header", required: false)
</head>
<body>
    <partial name="_HeaderPartial" />
    @RenderBody()
    @*@Html.Action()*@
    @*<partial name="_FooterPartial" data="ECommerce.Models.View.StaticData.SystemInfos" />*@
    @await Html.PartialAsync("_FooterPartial", ECommerce.Models.View.StaticData.SystemInfos)

    <div class="float-contact">
        <button class="chat-zalo">
            <a target="_blank" href="http://zalo.me/0774232359"><img width="20" src="//gowatch.vn/zalo.svg"> Chat Zalo</a>
        </button>
        <button class="chat-face">
            <a target="_blank" href="http://m.me/PWatches79"><img width="20" src="//gowatch.vn/fb.svg"> Chat Facebook</a>
        </button>
        <button class="hotline">
            <a target="_blank" href="tel:+84774232359"><img width="20" src="//gowatch.vn/call-icon.svg"> Hotline: 0935 793 939</a>
        </button>
    </div>

    <a href="#" class="scroll_top" title="Scroll to Top" style="display: inline;">Scroll</a>
    <!-- Script-->
    <script type="text/javascript" src="/assets/lib/jquery/jquery-1.11.2.min.js"></script>
    <script type="text/javascript" src="/assets/lib/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/assets/lib/select2/js/select2.min.js"></script>
    <script type="text/javascript" src="/assets/lib/jquery.bxslider/jquery.bxslider.min.js"></script>
    <script type="text/javascript" src="/assets/lib/owl.carousel/owl.carousel.min.js"></script>
    <script type="text/javascript" src="/assets/lib/jquery.countdown/jquery.countdown.min.js"></script>


    <script type="text/javascript" src="~/assets/lib/jquery-ui/jquery-ui.min.js"></script>


    <script type="text/javascript" src="~/lib/rateit.js-master/scripts/jquery.rateit.min.js"></script>
    <script type="text/javascript" src="/assets/js/jquery.actual.min.js"></script>
    <script type="text/javascript" src="~/lib/toastr/toastr.min.js"></script>
    <script type="text/javascript" src="/assets/js/theme-script.js"></script>

    <environment include="Development">
        <script type="text/javascript" src="/js/common.js"></script>
        <script type="text/javascript" src="/js/main.js"></script>
    </environment>

    <environment include="Staging,Production">
        <script type="text/javascript" src="/js/common.min.js"></script>
        <script type="text/javascript" src="/js/main.min.js"></script>
    </environment>

    @*<script src="~/js/site.js" asp-append-version="true"></script>*@
    <script type="text/javascript">
        $(document).on('click', '.open-cate', function () {
            $(this).closest('.vertical-menu-content').find('li.cat-link-orther').each(function () {
                $(this).slideDown();
            });
            $(this).addClass('colse-cate').removeClass('open-cate').html('Close');
        })
        /* Close category */
        $(document).on('click', '.colse-cate', function () {
            $(this).closest('.vertical-menu-content').find('li.cat-link-orther').each(function () {
                $(this).slideUp();
            });
            $(this).addClass('open-cate').removeClass('colse-cate').html('@language.SEE_MORE');
            return false;
        })
    </script>
    @RenderSection("Scripts", required: false)
</body>
</html>
