@section Scripts{
    <script>
        $("body").addClass("product-page right-sidebar");
        async function addToCart(link) {
            addProductToCart(link, parseInt($("#option-product-qty").val()));
        }
        function toTabReview() {
            var elmnt = document.getElementById("product-tab");
            elmnt.scrollIntoView();
            $('#tab-danh-gia').click();
        }
    </script>

    <script type="text/javascript" src="/assets/lib/jquery.elevatezoom.js"></script>

    <script type="text/javascript" src="/assets/lib/jquery-ui/jquery-ui.min.js"></script>

    <script type="text/javascript" src="/assets/lib/fancyBox/jquery.fancybox.js"></script>
}
@using System.Globalization;
@model ECommerce.Models.View.ProductDetailView
<div class="container" id="columns">
    <!-- breadcrumb -->
    <div class="breadcrumb clearfix">
        <a class="home" asp-controller="home" asp-action="index" title="Return to Home">@language.HOME</a>
        <span class="navigation-pipe">&nbsp;</span>
        <a href="#" title="Return to Home">@Model.ProductDetail.Category.Name</a>
        <span class="navigation-pipe">&nbsp;</span>
        <a href="#" title="Return to Home">@Model.ProductDetail.BrandProduct.Name</a>
        <span class="navigation-pipe">&nbsp;</span>
        <span class="navigation_page">@Model.ProductDetail.Name</span>
    </div>
    <!-- ./breadcrumb -->
    <!-- row -->
    <div class="row">
        <!-- Left colunm -->
        <div class="column col-xs-12 col-sm-3" id="left_column">
            <!-- block best sellers -->
            <div class="block left-module">
                <p class="title_block">@ECommerce.Resources.Languages.ProductDetail.ProductDetail.SAN_PHAM_MOI_CUNG_LOAI</p>
                <div class="block_content">
                    <ul class="products-block best-sell">
                        @for (int i = 0; i < Model.SanPhamCungLoai.Count; i++)
                        {
                            var data = Model.SanPhamCungLoai[i];
                            <li>
                                @await Component.InvokeAsync("ProductViewPartial", new { type = 5, data = data })
                            </li>
                        }
                    </ul>
                </div>
            </div>
            <!-- ./block best sellers  -->
            <!-- block category -->
            <div class="block left-module">
                <p class="title_block">@ECommerce.Resources.Languages.ProductDetail.ProductDetail.DANH_MUC_KHAC</p>
                <div class="block_content">
                    <!-- layered -->
                    <div class="layered layered-category">
                        <div class="layered-content">
                            <ul class="tree-menu">
                                @*<li class="active">
                                        <span></span><a href="#">Tops</a>
                                        <ul>
                                            <li><span></span><a href="#">T-shirts</a></li>
                                            <li><span></span><a href="#">Dresses</a></li>
                                            <li><span></span><a href="#">Casual</a></li>
                                            <li><span></span><a href="#">Evening</a></li>
                                            <li><span></span><a href="#">Summer</a></li>
                                            <li><span></span><a href="#">Bags & Shoes</a></li>
                                            <li><span></span><a href="#"><span></span>Blouses</a></li>
                                        </ul>
                                    </li>*@
                                @for (int i = 0; i < Model.DanhMucKhac.Count(); i++)
                                {
                                    <li><span></span><a href="@Model.DanhMucKhac[i].Id">@Model.DanhMucKhac[i].Name</a></li>
                                }
                            </ul>
                        </div>
                    </div>
                    <!-- ./layered -->
                </div>
            </div>
            <!-- ./block category  -->
            <!-- left silide -->
            <div class="col-left-slide left-module">
                <ul class="owl-carousel owl-style2" data-loop="true" data-nav="false" data-margin="0" data-autoplayTimeout="1000" data-autoplayHoverPause="true" data-items="1" data-autoplay="true">
                    @for (int i = 0; i < Model.SanPhamGiamGia.Count(); i++)
                    {
                        var data = Model.SanPhamGiamGia[i];
                        <li>
                            <a asp-controller="san-pham" asp-action="index" asp-route-link="@(data.Url+"."+data.Id)">
                                @if (data.Product_Media.Count() > 0)
                                {
                                    <img class="img-responsive" alt="product" src="@data.Product_Media[0].Media.Link" />
                                }
                                else
                                {
                                    <img class="img-responsive" alt="product" src="/assets/data/slide-left.jpg" />
                                }
                            </a>
                        </li>
                    }
                </ul>
            </div>
            <!--./left silde-->
            <!-- block best sellers -->
            <div class="block left-module">
                <p class="title_block">@language.ON_SALE</p>
                <div class="block_content product-onsale">
                    <ul class="product-list owl-carousel" data-loop="true" data-nav="false" data-margin="0" data-autoplayTimeout="1000" data-autoplayHoverPause="true" data-items="1" data-autoplay="true">
                        @for (int i = 0; i < Model.SanPhamGiamGia.Count(); i++)
                        {
                            var data = Model.SanPhamGiamGia[i];
                            <li>
                                <div class="product-container">
                                    @await Component.InvokeAsync("ProductViewPartial", new { type = 4, data = data })
                                </div>
                            </li>
                        }
                    </ul>
                </div>
            </div>
            <!-- ./block best sellers  -->
            <!-- left silide -->
            <div class="col-left-slide left-module">
                <div class="banner-opacity">
                    <a asp-controller="san-pham" asp-action="index" asp-route-link="@(Model.SanPhamTuongTu[0].Url+"."+Model.SanPhamTuongTu[0].Id)">
                        @if (Model.SanPhamTuongTu[0].Product_Media.Count() > 0)
                        {
                            <img class="img-responsive" alt="product" src="@Model.SanPhamTuongTu[0].Product_Media[0].Media.Link" />
                        }
                        else
                        {
                            <img src="/assets/data/ads-banner.jpg" alt="ads-banner">
                        }

                    </a>
                </div>
            </div>
            <!--./left silde-->
        </div>
        <!-- ./left colunm -->
        <!-- Center colunm-->
        <div class="center_column col-xs-12 col-sm-9" id="center_column">
            <!-- Product -->
            <div id="product">
                <div class="primary-box row">
                    <div class="pb-left-column col-xs-12 col-sm-6">
                        <!-- product-imge-->
                        <div class="product-image">
                            <div class="product-full">
                                @if (Model.ProductDetail.Product_Media.Count() > 0)
                                {
                                    <img id="product-zoom" src="@Model.ProductDetail.Product_Media[0].Media.Link" data-zoom-image="@Model.ProductDetail.Product_Media[0].Media.Link" />
                                }
                                else
                                {
                                    <img id="product-zoom" src="/assets/data/product-s3-420x512.jpg" data-zoom-image="/assets/data/product-s3-850x1036.jpg" />
                                }
                            </div>
                            <div class="product-img-thumb" id="gallery_01">
                                <ul class="owl-carousel" data-items="3" data-nav="true" data-dots="false" data-margin="20" data-loop="true">
                                    @if (Model.ProductDetail.Product_Media.Count() > 0)
                                    {
                                        for (int i = 0; i < Model.ProductDetail.Product_Media.Count(); i++)
                                        {
                                            <li>
                                                <a class="" href="#" data-image="@Model.ProductDetail.Product_Media[i].Media.Link" data-zoom-image="@Model.ProductDetail.Product_Media[i].Media.Link">
                                                    @*<img id="product-zoom" src="@Model.ProductDetail.Product_Media[i].Media.Link" />*@
                                                    <img src="@Model.ProductDetail.Product_Media[i].Media.Link" />
                                                </a>
                                            </li>
                                        }

                                    }

                                    @*<li>
                                            <a href="#" data-image="/assets/data/product-s2-420x512.jpg" data-zoom-image="assets/data/product-s2-850x1036.jpg">
                                                <img id="product-zoom" src="/assets/data/product-s2-100x122.jpg" />
                                            </a>
                                        </li>*@
                                </ul>
                            </div>
                        </div>
                        <!-- product-imge-->
                    </div>
                    <div class="pb-right-column col-xs-12 col-sm-6">
                        <h1 class="product-name">@Model.ProductDetail.Name</h1>

                        <div class="product-comments">
                            @if (Model.ProductDetail.Reviews.Count > 0)
                            {

                                <div class="product-star">
                                    @if (Model.ProductDetail.Reviews.Count > 0)
                                    {
                                        <div class="rateit" data-rateit-value="@Model.ProductDetail.Point.Value.ToString().Replace(",",".")" data-rateit-ispreset="true" data-rateit-readonly="true"></div>
                                    }
                                    else
                                    {
                                        <div class="rateit invisible" data-rateit-value="@Model.ProductDetail.Point.Value.ToString().Replace(",",".")" data-rateit-ispreset="true" data-rateit-readonly="true"></div>
                                    }
                                </div>
                            }

                            <div class="comments-advices">
                                @if (Model.ProductDetail.Reviews.Count > 0)
                                {
                                    <a>@Model.ProductDetail.Reviews.Count @language.REVIEW</a>
                                }

                                <a style="cursor:pointer;" onclick="toTabReview()"><i class="fa fa-pencil"></i> @language.WRITE_A_REVIEW</a>
                            </div>
                        </div>
                        <div class="product-price-group">
                            @if (Model.ProductDetail.PriceDiscount.HasValue)
                            {
                                <span class="price">@Model.ProductDetail.PriceDiscount.Value.ToString("C0", new CultureInfo("vi"))</span>
                                <span class="old-price">@Model.ProductDetail.Price.ToString("C0", new CultureInfo("vi"))</span>
                                <span class="discount">-@(100 - Math.Ceiling((decimal)Model.ProductDetail.PriceDiscount.Value * 100 / Model.ProductDetail.Price))%</span>

                            }
                            else
                            {
                                <span class="price product-price">@Model.ProductDetail.Price.ToString("C0", new CultureInfo("vi"))</span>
                            }
                        </div>
                        <div class="info-orther">
                            @if (Model.ProductDetail.Sku != null)
                            {
                                <p>@language.MA_SAN_PHAM : @Model.ProductDetail.Sku</p>
                            }
                            <p>
                                @language.TRANG_THAI:
                                <span class="in-stock">
                                    @{
                                        var listStatus = new List<string>();
                                        for (int i = 0; i < Model.ProductDetail.Product_ProductStatus.Count(); i++)
                                        {
                                            listStatus.Add(Model.ProductDetail.Product_ProductStatus[i].ProductStatus.Name);
                                        }
                                    }
                                    @string.Join(",", listStatus)
                                </span>
                            </p>
                            @*<p>Trạng thái : Hàng mới nhập</p>*@
                        </div>
                        <div class="product-desc">
                            @Model.ProductDetail.DescriptionShort
                        </div>
                        <div class="form-option">
                            <p class="form-option-title">@language.LUA_CHON :</p>
                            @*<div class="attributes">
                                    <div class="attribute-label">@language.MAU:</div>
                                    <div class="attribute-list">
                                        <ul class="list-color">
                                            <li style="background:#0c3b90;"><a href="#">red</a></li>
                                            <li style="background:#036c5d;" class="active"><a href="#">red</a></li>
                                            <li style="background:#5f2363;"><a href="#">red</a></li>
                                            <li style="background:#ffc000;"><a href="#">red</a></li>
                                            <li style="background:#36a93c;"><a href="#">red</a></li>
                                            <li style="background:#ff0000;"><a href="#">red</a></li>
                                        </ul>
                                    </div>
                                </div>*@
                            <div class="attributes">
                                <div class="attribute-label">@language.SO_LUONG:</div>
                                <div class="attribute-list product-qty">
                                    <div class="qty">
                                        <input id="option-product-qty" type="text" value="1">
                                    </div>
                                    <div class="btn-plus">
                                        <a href="#" class="btn-plus-up">
                                            <i class="fa fa-caret-up"></i>
                                        </a>
                                        <a href="#" class="btn-plus-down">
                                            <i class="fa fa-caret-down"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            @*<div class="attributes">
                                    <div class="attribute-label">Size:</div>
                                    <div class="attribute-list">
                                        <select>
                                            <option value="1">X</option>
                                            <option value="2">XL</option>
                                            <option value="3">XXL</option>
                                        </select>
                                        <a id="size_chart" class="fancybox" href="assets/data/size-chart.jpg">Size Chart</a>
                                    </div>

                                </div>*@
                        </div>
                        <div class="form-action">
                            <div class="button-group">
                                <a class="btn-add-cart" onclick="addToCart('@(Model.ProductDetail.Url+"."+Model.ProductDetail.Id.ToString())')">@language.ADD_TO_CART</a>
                            </div>
                        </div>
                        <div class="form-share">
                            <div class="sendtofriend-print">
                                @*<a href="javascript:print();"><i class="fa fa-print"></i> In</a>*@
                                <a href="#"><i class="fa fa-envelope-o fa-fw"></i>@language.GUI_CHO_BAN</a>
                            </div>
                            <div class="network-share">
                            </div>
                        </div>
                    </div>
                </div>
                <!-- tab product -->
                <div class="product-tab" id="product-tab">
                    <ul class="nav-tab">
                        <li class="active">
                            <a aria-expanded="false" data-toggle="tab" href="#product-detail">@ECommerce.Resources.Languages.ProductDetail.ProductDetail.CHI_TIET_SAN_PHAM</a>
                        </li>
                        <li>
                            <a aria-expanded="true" data-toggle="tab" href="#information">@ECommerce.Resources.Languages.ProductDetail.ProductDetail.THONG_SO_SAN_PHAM</a>
                        </li>
                        <li>
                            <a data-toggle="tab" href="#reviews" id="tab-danh-gia">@ECommerce.Resources.Languages.ProductDetail.ProductDetail.DANH_GIA</a>
                        </li>
                        <li>
                            <a data-toggle="tab" href="#guarantees">@ECommerce.Resources.Languages.ProductDetail.ProductDetail.CHINH_SACH_VA_QUYEN_LOI</a>
                        </li>
                    </ul>
                    <div class="tab-container">
                        <div id="product-detail" class="tab-panel active">
                            @Model.ProductDetail.DescriptionFull
                        </div>
                        <div id="information" class="tab-panel">
                            <table class="table table-bordered">
                                <tr>
                                    <td width="200">@ECommerce.Resources.Languages.ProductDetail.ProductDetail.DAC_TINH</td>
                                    <td>@ECommerce.Resources.Languages.ProductDetail.ProductDetail.THONG_TIN</td>
                                </tr>

                                <tr>
                                    <td>@language.TRADEMARK</td>
                                    <td>@Model.ProductDetail.BrandProduct.Name</td>
                                </tr>
                                <tr>
                                    <td>@language.MACHINE_TYPE</td>
                                    <td>@Model.ProductDetail.Machine.Name</td>
                                </tr>
                                @if (Model.ProductDetail.InternationalWarrantyTime.HasValue)
                                {
                                    <tr>
                                        <td>@language.THOI_GIAN_BAO_HANH_QUOC_TE</td>
                                        <td>@Model.ProductDetail.InternationalWarrantyTime.Value</td>
                                    </tr>
                                }
                                @if (Model.ProductDetail.StoreWarrantyTime.HasValue)
                                {
                                    <tr>
                                        <td>@language.THOI_GIAN_BAO_HANH_O_CUA_HANG</td>
                                        <td>@Model.ProductDetail.StoreWarrantyTime.Value</td>
                                    </tr>
                                }
                                <tr>
                                    <td>@language.DUONG_KINH_MAT_DONG_HO</td>
                                    <td>@Model.ProductDetail.Diameter</td>
                                </tr>
                                <tr>
                                    <td>@language.LOAI_NIENG</td>
                                    <td>@Model.ProductDetail.Band.Name</td>
                                </tr>
                                <tr>
                                    <td>@language.LOAI_DAY</td>
                                    <td>@Model.ProductDetail.Strap.Name</td>
                                </tr>
                                <tr>
                                    <td>@language.MAU_MAT_KINH</td>
                                    <td>@Model.ProductDetail.ColorClockFace.Name</td>
                                </tr>
                                <tr>
                                    <td>@language.NOI_SAN_XUAT</td>
                                    <td>@Model.ProductDetail.MadeIn.Name</td>
                                </tr>
                                <tr>
                                    <td>@language.PHUONG_CACH</td>
                                    <td>@Model.ProductDetail.Style.Name</td>
                                </tr>
                                <tr>
                                    <td>@language.THONG_TIN_CHONG_THAM</td>
                                    <td>@Model.ProductDetail.Waterproof.Name</td>
                                </tr>

                            </table>
                        </div>
                        <div id="reviews" class="tab-panel">
                            <div id="ls-reviews">
                                @if (Model.ProductDetail.Reviews.Count > 0)
                                {
                                    for (int i = 0; i < Model.ProductDetail.Reviews.Count; i++)
                                    {
                                        <div class="product-comments-block-tab">
                                            <div class="comment row">
                                                <div class="col-sm-3 author">
                                                    <div class="grade">
                                                        <span>Grade</span>
                                                        <input type="range" value="@Model.ProductDetail.Reviews[i].Point.ToString("G",CultureInfo.InvariantCulture)" step="0.1" id="rate-@i">
                                                        <div class="rateit" data-rateit-backingfld="#rate-@i" data-rateit-resetable="false" data-rateit-ispreset="true"
                                                             data-rateit-min="0" data-rateit-max="5" data-rateit-readonly="true">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="info-author">
                                                    <span><strong>@Model.ProductDetail.Reviews[i].ApplicationUser.UserName</strong></span>
                                                    <em>@Model.ProductDetail.Reviews[i].CreateDate.ToString()</em>
                                                </div>
                                            </div>
                                            <div class="col-sm-9 commnet-dettail">
                                                @Html.Raw(Model.ProductDetail.Reviews[i].Message)
                                            </div>
                                        </div>
                                        <br />
                                    }

                                    @*<div class="comment row">
                                            <div class="col-sm-3 author">
                                                <div class="grade">
                                                    <span>Grade</span>
                                                    <span class="reviewRating">
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                    </span>
                                                </div>
                                                <div class="info-author">
                                                    <span><strong>Author</strong></span>
                                                    <em>04/08/2015</em>
                                                </div>
                                            </div>
                                            <div class="col-sm-9 commnet-dettail">
                                                Phasellus accumsan cursus velit. Pellentesque egestas, neque sit amet convallis pulvinar
                                            </div>
                                        </div>*@
                                }
                            </div>

                            @if (User.Identity.IsAuthenticated)
                            {
                                <p>
                                    <a class="btn-comment" href="#">@language.WRITE_A_REVIEW</a>
                                </p>
                                <form id="form-danh-gia" asp-controller="tai-khoan" asp-action="danh-gia-san-pham" method="post" onsubmit="addReviewForProduct(event)">
                                    <input type="hidden" value="5" step="0.1" id="review-point">
                                    <div id="rate-review-view" class="rateit" data-rateit-backingfld="#review-point" data-rateit-resetable="false" data-rateit-ispreset="true"
                                         data-rateit-min="0" data-rateit-max="5">
                                    </div>
                                    <input id="id-product-review" type="hidden" value="@(Model.ProductDetail.Id)" />
                                    <textarea class="comment-review-product" id="comment-review-product" required maxlength="255"></textarea>
                                    <button class="button">Đăng</button>
                                </form>

                            }
                            else
                            {
                                <p>
                                    <a asp-controller="tai-khoan" asp-action="dang-nhap">Đăng nhập</a> để đánh giá sản phẩm
                                </p>
                            }

                        </div>


                        <div id="guarantees" class="tab-panel">
                            <p>Phasellus accumsan cursus velit. Pellentesque egestas, neque sit amet convallis pulvinar, justo nulla eleifend augue, ac auctor orci leo non est. Sed lectus. Sed a libero. Vestibulum eu odio.</p>

                            <p>Maecenas vestibulum mollis diam. In consectetuer turpis ut velit. Curabitur at lacus ac velit ornare lobortis. Praesent ac sem eget est egestas volutpat. Nam eget dui.</p>

                            <p>Maecenas nec odio et ante tincidunt tempus. Vestibulum suscipit nulla quis orci. Aenean tellus metus, bibendum sed, posuere ac, mattis non, nunc. Aenean ut eros et nisl sagittis vestibulum. Aliquam eu nunc.</p>
                            <p>Maecenas vestibulum mollis diam. In consectetuer turpis ut velit. Curabitur at lacus ac velit ornare lobortis. Praesent ac sem eget est egestas volutpat. Nam eget dui.</p>
                        </div>
                    </div>
                </div>
                <!-- ./tab product -->
                @await Html.PartialAsync("_SanPhamCungLoaiProduct", Model)
            </div>
            <!-- Product -->
        </div>
        <!-- ./ Center colunm -->
    </div>
    <!-- ./row-->
</div>
