@using ECommerce.Models.View;
@using System.Globalization;
@model HomeDataView
@{
    Random rnd = new Random();
}
<div class="content-page">
    <div class="container">
        <!-- featured category fashion -->
        <div class="category-featured">
            <nav class="navbar nav-menu nav-menu-red show-brand">
                <div class="container">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-brand"><a ><i class="fa fa-mars"></i>@language.MENS_WATCH</a></div>
                    <span class="toggle-menu"></span>
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse">
                        <ul class="nav navbar-nav">
                            <li class="active"><a data-toggle="tab" href="#tab-6">@language.BESTSELLER</a></li>
                            <li><a data-toggle="tab" href="#tab-7">@language.MOST_VIEWED</a></li>
                        </ul>
                    </div><!-- /.navbar-collapse -->
                </div><!-- /.container-fluid -->
                <div id="elevator-2" class="floor-elevator">
                    <a href="#elevator-1" class="btn-elevator up fa fa-angle-up"></a>
                    <a href="#elevator-3" class="btn-elevator down fa fa-angle-down"></a>
                </div>
            </nav>
            <div class="category-banner">
                <div class="col-sm-6 banner">
                    <a asp-controller="san-pham"><img alt="ads2" class="img-responsive" src="/assets/data/ads6.jpg" /></a>
                </div>
                <div class="col-sm-6 banner">
                    <a asp-controller="san-pham"><img alt="ads2" class="img-responsive" src="/assets/data/ads7.jpg" /></a>
                </div>
            </div>
            <div class="product-featured clearfix">
                <div class="banner-featured">
                    <div class="featured-text"><span>featured</span></div>
                    <div class="banner-img">
                        <a asp-controller="san-pham" asp-action="index" asp-route-link="@Model.DongHoNam.ToList()[rnd.Next(0,Model.DongHoNam.Count())].Url"><img class="img-responsive" alt="product" src="@(Model.DongHoNam.ToList()[0].Product_Media.Count() > 0 ?  Model.DongHoNam.ToList()[0].Product_Media[0].Media.Link : "/assets/data/p35.jpg")" /></a>
                    </div>
                </div>
                <div class="product-featured-content">
                    <div class="product-featured-list">
                        <div class="tab-container autoheight">
                            <!-- tab product -->
                            <div class="tab-panel active" id="tab-6">
                                <ul class="product-list owl-carousel" data-dots="false" data-loop="true"
                                    data-nav="true" data-margin="0" data-autoplayTimeout="1000"
                                    data-autoplayHoverPause="true"
                                    data-responsive='{"0":{"items":1},"600":{"items":3},"1000":{"items":4}}'>
                                    @for (int i = 0; i < Model.DongHoNam.Count(); i++)
                                    {
                                        var data = Model.DongHoNam.ToList()[i];
                                        <li>
                                            <div class="left-block">
                                                <a asp-controller="san-pham" asp-action="index" asp-route-link="@data.Url">
                                                    @*<img class="img-responsive" alt="product" src="/assets/data/p35.jpg" />*@
                                                    @if (data.Product_Media.Count() > 0)
                                                    {
                                                        <img class="img-responsive" alt="product" src="@data.Product_Media[0].Media.Link" />
                                                    }
                                                    else
                                                    {
                                                        <img class="img-responsive" alt="product" src="/assets/data/p35.jpg" />
                                                    }
                                                </a>
                                                <div class="quick-view">
                                                    @*<a title="Add to my wishlist" class="heart" ></a>
                                                        <a title="Add to compare" class="compare" ></a>*@
                                                    <a title="Quick view" class="search" ></a>
                                                </div>
                                                <div class="add-to-cart">
                                                    <a title="@language.ADD_TO_CART" >@language.ADD_TO_CART</a>
                                                </div>
                                                <div class="group-price">
                                                    @if (data.Product_ProductStatus.Where(x => x.ProductStatusId == 2).FirstOrDefault() != null)
                                                    {
                                                        <span class="product-new">@language.NEW</span>
                                                    }
                                                    @if (data.Product_ProductStatus.Where(x => x.ProductStatusId == 4).FirstOrDefault() != null)
                                                    {
                                                        <span class="product-sale">@language.SALE</span>
                                                    }
                                                </div>
                                            </div>
                                            <div class="right-block">
                                                <h5 class="product-name"><a asp-controller="san-pham" asp-action="index" asp-route-link="@data.Url">@data.Name</a></h5>
                                                <div class="content_price">
                                                    @if (data.PriceDiscount.HasValue)
                                                    {
                                                        <span class="price product-price">@data.PriceDiscount.Value.ToString("C0", CultureInfo.CurrentCulture)</span>
                                                        <span class="price old-price">@data.Price.ToString("C0", CultureInfo.CurrentCulture)</span>

                                                    }
                                                    else
                                                    {
                                                        <span class="price product-price">@data.Price.ToString("C0", CultureInfo.CurrentCulture)</span>
                                                    }
                                                </div>
                                                <div class="product-star">
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star-half-o"></i>
                                                </div>
                                            </div>
                                        </li>
                                    }
                                </ul>
                            </div>
                            <!-- tab product -->
                            <div class="tab-panel" id="tab-7">
                                <ul class="product-list owl-carousel" data-dots="false" data-loop="true"
                                    data-nav="true" data-margin="0" data-autoplayTimeout="1000"
                                    data-autoplayHoverPause="true"
                                    data-responsive='{"0":{"items":1},"600":{"items":3},"1000":{"items":4}}'>
                                    @for (int i = 0; i < Model.DongHoNam.OrderByDescending(v=>v.ViewsCount).Count(); i++)
                                    {
                                        var data = Model.DongHoNam.OrderByDescending(v=>v.ViewsCount).ToList()[i];
                                        <li>
                                            <div class="left-block">
                                                <a asp-controller="san-pham" asp-action="index" asp-route-link="@data.Url">
                                                    @if (data.Product_Media.Count() > 0)
                                                    {
                                                        <img class="img-responsive" alt="product" src="@data.Product_Media[0].Media.Link" />
                                                    }
                                                    else
                                                    {
                                                        <img class="img-responsive" alt="product" src="/assets/data/p35.jpg" />
                                                    }
                                                </a>
                                                <div class="quick-view">
                                                    @*<a title="Add to my wishlist" class="heart" ></a>
                                                        <a title="Add to compare" class="compare" ></a>*@
                                                    <a title="Quick view" class="search" ></a>
                                                </div>
                                                <div class="add-to-cart">
                                                    <a title="@language.ADD_TO_CART" >@language.ADD_TO_CART</a>
                                                </div>
                                                <div class="group-price">
                                                    @if (data.Product_ProductStatus.Where(x => x.ProductStatusId == 2).FirstOrDefault() != null)
                                                    {
                                                        <span class="product-new">@language.NEW</span>
                                                    }
                                                    @if (data.Product_ProductStatus.Where(x => x.ProductStatusId == 4).FirstOrDefault() != null)
                                                    {
                                                        <span class="product-sale">@language.SALE</span>
                                                    }
                                                </div>
                                            </div>
                                            <div class="right-block">
                                                <h5 class="product-name"><a asp-controller="san-pham" asp-action="index" asp-route-link="@data.Url">@data.Name</a></h5>
                                                <div class="content_price">
                                                    @if (data.PriceDiscount.HasValue)
                                                    {
                                                        <span class="price product-price">@data.PriceDiscount.Value.ToString("C0", CultureInfo.CurrentCulture)</span>
                                                        <span class="price old-price">@data.Price.ToString("C0", CultureInfo.CurrentCulture)</span>

                                                    }
                                                    else
                                                    {
                                                        <span class="price product-price">@data.Price.ToString("C0", CultureInfo.CurrentCulture)</span>
                                                    }
                                                </div>
                                                <div class="product-star">
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star-half-o"></i>
                                                </div>
                                            </div>
                                        </li>
                                    }
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end featured category fashion -->
        <!-- featured category sports -->
        <div class="category-featured">
            <nav class="navbar nav-menu nav-menu-green show-brand">
                <div class="container">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-brand"><a ><i class="fa fa-venus-mars"></i>@language.COUPLE_WATCH</a></div>
                    <span class="toggle-menu"></span>
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse">
                        <ul class="nav navbar-nav">
                            <li class="active"><a data-toggle="tab" href="#tab-16">@language.BESTSELLER</a></li>
                            <li><a data-toggle="tab" href="#tab-17">@language.MOST_VIEWED</a></li>
                        </ul>
                    </div><!-- /.navbar-collapse -->
                </div><!-- /.container-fluid -->
                <div id="elevator-2" class="floor-elevator">
                    <a href="#elevator-1" class="btn-elevator up fa fa-angle-up"></a>
                    <a href="#elevator-3" class="btn-elevator down fa fa-angle-down"></a>
                </div>
            </nav>
            <div class="category-banner">
                <div class="col-sm-6 banner">
                    <a asp-controller="san-pham"><img alt="ads2" class="img-responsive" src="/assets/data/ads6.jpg" /></a>
                </div>
                <div class="col-sm-6 banner">
                    <a asp-controller="san-pham"><img alt="ads2" class="img-responsive" src="/assets/data/ads7.jpg" /></a>
                </div>
            </div>
            <div class="product-featured clearfix">
                <div class="banner-featured">
                    <div class="featured-text"><span>featured</span></div>
                    <div class="banner-img">
                        <a asp-controller="san-pham" asp-action="index" asp-route-link="@Model.DongHoCap.ToList()[rnd.Next(0,Model.DongHoCap.Count())].Url"><img class="img-responsive" alt="product" src="@(Model.DongHoCap.ToList()[0].Product_Media.Count() > 0 ?  Model.DongHoCap.ToList()[0].Product_Media[0].Media.Link : "/assets/data/p35.jpg")" /></a>
                    </div>
                </div>
                <div class="product-featured-content">
                    <div class="product-featured-list">
                        <div class="tab-container autoheight">
                            <!-- tab product -->
                            <div class="tab-panel active" id="tab-16">
                                <ul class="product-list owl-carousel" data-dots="false" data-loop="true"
                                    data-nav="true" data-margin="0" data-autoplayTimeout="1000"
                                    data-autoplayHoverPause="true"
                                    data-responsive='{"0":{"items":1},"600":{"items":3},"1000":{"items":4}}'>
                                    @for (int i = 0; i < Model.DongHoCap.Count(); i++)
                                    {
                                        var data = Model.DongHoCap.ToList()[i];
                                        <li>
                                            <div class="left-block">
                                                <a asp-controller="san-pham" asp-action="index" asp-route-link="@data.Url">
                                                    @if (data.Product_Media.Count() > 0)
                                                    {
                                                        <img class="img-responsive" alt="product" src="@data.Product_Media[0].Media.Link" />
                                                    }
                                                    else
                                                    {
                                                        <img class="img-responsive" alt="product" src="/assets/data/p35.jpg" />
                                                    }
                                                </a>
                                                <div class="quick-view">
                                                    @*<a title="Add to my wishlist" class="heart" ></a>
                                                        <a title="Add to compare" class="compare" ></a>*@
                                                    <a title="Quick view" class="search" ></a>
                                                </div>
                                                <div class="add-to-cart">
                                                    <a title="@language.ADD_TO_CART" >@language.ADD_TO_CART</a>
                                                </div>
                                                <div class="group-price">
                                                    @if (data.Product_ProductStatus.Where(x => x.ProductStatusId == 2).FirstOrDefault() != null)
                                                    {
                                                        <span class="product-new">@language.NEW</span>
                                                    }
                                                    @if (data.Product_ProductStatus.Where(x => x.ProductStatusId == 4).FirstOrDefault() != null)
                                                    {
                                                        <span class="product-sale">@language.SALE</span>
                                                    }
                                                </div>
                                            </div>
                                            <div class="right-block">
                                                <h5 class="product-name"><a asp-controller="san-pham" asp-action="index" asp-route-link="@data.Url">@data.Name</a></h5>
                                                <div class="content_price">
                                                    @if (data.PriceDiscount.HasValue)
                                                    {
                                                        <span class="price product-price">@data.PriceDiscount.Value.ToString("C0", CultureInfo.CurrentCulture)</span>
                                                        <span class="price old-price">@data.Price.ToString("C0", CultureInfo.CurrentCulture)</span>

                                                    }
                                                    else
                                                    {
                                                        <span class="price product-price">@data.Price.ToString("C0", CultureInfo.CurrentCulture)</span>
                                                    }
                                                </div>
                                                <div class="product-star">
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star-half-o"></i>
                                                </div>
                                            </div>
                                        </li>
                                    }
                                </ul>
                            </div>
                            <!-- tab product -->
                            <div class="tab-panel" id="tab-17">
                                <ul class="product-list owl-carousel" data-dots="false" data-loop="true"
                                    data-nav="true" data-margin="0" data-autoplayTimeout="1000"
                                    data-autoplayHoverPause="true"
                                    data-responsive='{"0":{"items":1},"600":{"items":3},"1000":{"items":4}}'>

                                    @for (int i = 0; i < Model.DongHoCap.OrderByDescending(v=>v.ViewsCount).Count(); i++)
                                    {
                                        var data = Model.DongHoCap.OrderByDescending(v=>v.ViewsCount).ToList()[i];
                                        <li>
                                            <div class="left-block">
                                                <a asp-controller="san-pham" asp-action="index" asp-route-link="@data.Url">
                                                    @if (data.Product_Media.Count() > 0)
                                                    {
                                                        <img class="img-responsive" alt="product" src="@data.Product_Media[0].Media.Link" />
                                                    }
                                                    else
                                                    {
                                                        <img class="img-responsive" alt="product" src="/assets/data/p35.jpg" />
                                                    }
                                                </a>
                                                <div class="quick-view">
                                                    @*<a title="Add to my wishlist" class="heart" ></a>
                                                        <a title="Add to compare" class="compare" ></a>*@
                                                    <a title="Quick view" class="search" ></a>
                                                </div>
                                                <div class="add-to-cart">
                                                    <a title="@language.ADD_TO_CART" >@language.ADD_TO_CART</a>
                                                </div>
                                                <div class="group-price">
                                                    @if (data.Product_ProductStatus.Where(x => x.ProductStatusId == 2).FirstOrDefault() != null)
                                                    {
                                                        <span class="product-new">@language.NEW</span>
                                                    }
                                                    @if (data.Product_ProductStatus.Where(x => x.ProductStatusId == 4).FirstOrDefault() != null)
                                                    {
                                                        <span class="product-sale">@language.SALE</span>
                                                    }
                                                </div>
                                            </div>
                                            <div class="right-block">
                                                <h5 class="product-name"><a asp-controller="san-pham" asp-action="index" asp-route-link="@data.Url">@data.Name</a></h5>
                                                <div class="content_price">
                                                    @if (data.PriceDiscount.HasValue)
                                                    {
                                                        <span class="price product-price">@data.PriceDiscount.Value.ToString("C0", CultureInfo.CurrentCulture)</span>
                                                        <span class="price old-price">@data.Price.ToString("C0", CultureInfo.CurrentCulture)</span>

                                                    }
                                                    else
                                                    {
                                                        <span class="price product-price">@data.Price.ToString("C0", CultureInfo.CurrentCulture)</span>
                                                    }
                                                </div>
                                                <div class="product-star">
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star-half-o"></i>
                                                </div>
                                            </div>
                                        </li>
                                    }
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end featured category sports-->
        <!-- featured category electronic -->
        <div class="category-featured">
            <nav class="navbar nav-menu nav-menu-orange show-brand">
                <div class="container">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-brand"><a ><i class="fa fa-venus"></i>@language.WOMENS_WATCH</a></div>
                    <span class="toggle-menu"></span>
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse">
                        <ul class="nav navbar-nav">
                            <li class="active"><a data-toggle="tab" href="#tab-8">@language.BESTSELLER</a></li>
                            <li><a data-toggle="tab" href="#tab-9">@language.MOST_VIEWED</a></li>
                        </ul>
                    </div><!-- /.navbar-collapse -->
                </div><!-- /.container-fluid -->
                <div id="elevator-3" class="floor-elevator">
                    <a href="#elevator-2" class="btn-elevator up fa fa-angle-up"></a>
                    <a href="#elevator-4" class="btn-elevator down fa fa-angle-down"></a>
                </div>
            </nav>
            <div class="category-banner">
                <div class="col-sm-6 banner">
                    <a asp-controller="san-pham"><img alt="ads2" class="img-responsive" src="/assets/data/ads8.jpg" /></a>
                </div>
                <div class="col-sm-6 banner">
                    <a asp-controller="san-pham"><img alt="ads2" class="img-responsive" src="/assets/data/ads9.jpg" /></a>
                </div>
            </div>
            <div class="product-featured clearfix">
                <div class="banner-featured">
                    <div class="featured-text"><span>featured</span></div>
                    <div class="banner-img">
                        <a asp-controller="san-pham" asp-action="index" asp-route-link="@Model.DongHoNu.ToList()[rnd.Next(0,Model.DongHoNu.Count())].Url"><img class="img-responsive" alt="product" src="@(Model.DongHoNu.ToList()[0].Product_Media.Count() > 0 ?  Model.DongHoNu.ToList()[0].Product_Media[0].Media.Link : "/assets/data/p35.jpg")" /></a>
                    </div>
                </div>
                <div class="product-featured-content">
                    <div class="product-featured-list">
                        <div class="tab-container autoheight">
                            <!-- tab product -->
                            <div class="tab-panel active" id="tab-8">
                                <ul class="product-list owl-carousel" data-dots="false" data-loop="true"
                                    data-nav="true" data-margin="0" data-autoplayTimeout="1000"
                                    data-autoplayHoverPause="true"
                                    data-responsive='{"0":{"items":1},"600":{"items":3},"1000":{"items":4}}'>
                                    @for (int i = 0; i < Model.DongHoNu.Count(); i++)
                                    {
                                        var data = Model.DongHoNu.ToList()[i];
                                        <li>
                                            <div class="left-block">
                                                <a asp-controller="san-pham" asp-action="index" asp-route-link="@data.Url">
                                                    @if (data.Product_Media.Count() > 0)
                                                    {
                                                        <img class="img-responsive" alt="product" src="@data.Product_Media[0].Media.Link" />
                                                    }
                                                    else
                                                    {
                                                        <img class="img-responsive" alt="product" src="/assets/data/p35.jpg" />
                                                    }
                                                </a>
                                                <div class="quick-view">
                                                    @*<a title="Add to my wishlist" class="heart" ></a>
                                                        <a title="Add to compare" class="compare" ></a>*@
                                                    <a title="Quick view" class="search" ></a>
                                                </div>
                                                <div class="add-to-cart">
                                                    <a title="@language.ADD_TO_CART" >@language.ADD_TO_CART</a>
                                                </div>
                                                <div class="group-price">
                                                    @if (data.Product_ProductStatus.Where(x => x.ProductStatusId == 2).FirstOrDefault() != null)
                                                    {
                                                        <span class="product-new">@language.NEW</span>
                                                    }
                                                    @if (data.Product_ProductStatus.Where(x => x.ProductStatusId == 4).FirstOrDefault() != null)
                                                    {
                                                        <span class="product-sale">@language.SALE</span>
                                                    }
                                                </div>
                                            </div>
                                            <div class="right-block">
                                                <h5 class="product-name"><a asp-controller="san-pham" asp-action="index" asp-route-link="@data.Url">@data.Name</a></h5>
                                                <div class="content_price">
                                                    @if (data.PriceDiscount.HasValue)
                                                    {
                                                        <span class="price product-price">@data.PriceDiscount.Value.ToString("C0", CultureInfo.CurrentCulture)</span>
                                                        <span class="price old-price">@data.Price.ToString("C0", CultureInfo.CurrentCulture)</span>

                                                    }
                                                    else
                                                    {
                                                        <span class="price product-price">@data.Price.ToString("C0", CultureInfo.CurrentCulture)</span>
                                                    }
                                                </div>
                                                <div class="product-star">
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star-half-o"></i>
                                                </div>
                                            </div>
                                        </li>
                                    }
                                </ul>
                            </div>
                            <!-- tab product -->
                            <div class="tab-panel" id="tab-9">
                                <ul class="product-list owl-carousel" data-dots="false" data-loop="true"
                                    data-nav="true" data-margin="0" data-autoplayTimeout="1000"
                                    data-autoplayHoverPause="true"
                                    data-responsive='{"0":{"items":1},"600":{"items":3},"1000":{"items":4}}'>
                                    @for (int i = 0; i < Model.DongHoNu.OrderByDescending(v=>v.ViewsCount).Count(); i++)
                                    {
                                        var data = Model.DongHoNu.OrderByDescending(v=>v.ViewsCount).ToList()[i];
                                        <li>
                                            <div class="left-block">
                                                <a asp-controller="san-pham" asp-action="index" asp-route-link="@data.Url">
                                                    @if (data.Product_Media.Count() > 0)
                                                    {
                                                        <img class="img-responsive" alt="product" src="@data.Product_Media[0].Media.Link" />
                                                    }
                                                    else
                                                    {
                                                        <img class="img-responsive" alt="product" src="/assets/data/p35.jpg" />
                                                    }
                                                </a>
                                                <div class="quick-view">
                                                    @*<a title="Add to my wishlist" class="heart" ></a>
                                                        <a title="Add to compare" class="compare" ></a>*@
                                                    <a title="Quick view" class="search" ></a>
                                                </div>
                                                <div class="add-to-cart">
                                                    <a title="@language.ADD_TO_CART" >@language.ADD_TO_CART</a>
                                                </div>
                                                <div class="group-price">
                                                    @if (data.Product_ProductStatus.Where(x => x.ProductStatusId == 2).FirstOrDefault() != null)
                                                    {
                                                        <span class="product-new">@language.NEW</span>
                                                    }
                                                    @if (data.Product_ProductStatus.Where(x => x.ProductStatusId == 4).FirstOrDefault() != null)
                                                    {
                                                        <span class="product-sale">@language.SALE</span>
                                                    }
                                                </div>
                                            </div>
                                            <div class="right-block">
                                                <h5 class="product-name"><a asp-controller="san-pham" asp-action="index" asp-route-link="@data.Url">@data.Name</a></h5>
                                                <div class="content_price">
                                                    @if (data.PriceDiscount.HasValue)
                                                    {
                                                        <span class="price product-price">@data.PriceDiscount.Value.ToString("C0", CultureInfo.CurrentCulture)</span>
                                                        <span class="price old-price">@data.Price.ToString("C0", CultureInfo.CurrentCulture)</span>

                                                    }
                                                    else
                                                    {
                                                        <span class="price product-price">@data.Price.ToString("C0", CultureInfo.CurrentCulture)</span>
                                                    }
                                                </div>
                                                <div class="product-star">
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star-half-o"></i>
                                                </div>
                                            </div>
                                        </li>
                                    }
                                </ul>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <!-- end featured category electronic-->
        <!-- featured category Digital -->
        <div class="category-featured">
            <nav class="navbar nav-menu nav-menu-blue show-brand">
                <div class="container">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-brand"><a ><i class="fa fa-child"></i>@language.CHILDREN_WATCH</a></div>
                    <span class="toggle-menu"></span>
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse">
                        <ul class="nav navbar-nav">
                            <li class="active"><a data-toggle="tab" href="#tab-10">@language.BESTSELLER</a></li>
                            <li><a data-toggle="tab" href="#tab-11">@language.MOST_VIEWED</a></li>
                        </ul>
                    </div><!-- /.navbar-collapse -->
                </div><!-- /.container-fluid -->
                <div id="elevator-4" class="floor-elevator">
                    <a href="#elevator-3" class="btn-elevator up fa fa-angle-up"></a>
                    <a href="#elevator-5" class="btn-elevator down fa fa-angle-down"></a>
                </div>
            </nav>
            <div class="category-banner">
                <div class="col-sm-6 banner">
                    <a asp-controller="san-pham"><img alt="ads2" class="img-responsive" src="/assets/data/ads10.jpg" /></a>
                </div>
                <div class="col-sm-6 banner">
                    <a asp-controller="san-pham"><img alt="ads2" class="img-responsive" src="/assets/data/ads11.jpg" /></a>
                </div>
            </div>
            <div class="product-featured clearfix">
                <div class="banner-featured">
                    <div class="featured-text"><span>featured</span></div>
                    <div class="banner-img">
                        <a asp-controller="san-pham" asp-action="index" asp-route-link="@Model.DongHoTreEm.ToList()[rnd.Next(0,Model.DongHoTreEm.Count())].Url"><img class="img-responsive" alt="product" src="@(Model.DongHoTreEm.ToList()[0].Product_Media.Count() > 0 ?  Model.DongHoTreEm.ToList()[0].Product_Media[0].Media.Link : "/assets/data/p35.jpg")" /></a>
                    </div>
                </div>
                <div class="product-featured-content">
                    <div class="product-featured-list">
                        <div class="tab-container autoheight">
                            <!-- tab product -->
                            <div class="tab-panel active" id="tab-10">
                                <ul class="product-list owl-carousel" data-dots="false" data-loop="true"
                                    data-nav="true" data-margin="0" data-autoplayTimeout="1000"
                                    data-autoplayHoverPause="true"
                                    data-responsive='{"0":{"items":1},"600":{"items":3},"1000":{"items":4}}'>
                                    @for (int i = 0; i < Model.DongHoTreEm.Count(); i++)
                                    {
                                        var data = Model.DongHoTreEm.ToList()[i];
                                        <li>
                                            <div class="left-block">
                                                <a asp-controller="san-pham" asp-action="index" asp-route-link="@data.Url">
                                                    @if (data.Product_Media.Count() > 0)
                                                    {
                                                        <img class="img-responsive" alt="product" src="@data.Product_Media[0].Media.Link" />
                                                    }
                                                    else
                                                    {
                                                        <img class="img-responsive" alt="product" src="/assets/data/p35.jpg" />
                                                    }
                                                </a>
                                                <div class="quick-view">
                                                    @*<a title="Add to my wishlist" class="heart" ></a>
                                                        <a title="Add to compare" class="compare" ></a>*@
                                                    <a title="Quick view" class="search" ></a>
                                                </div>
                                                <div class="add-to-cart">
                                                    <a title="@language.ADD_TO_CART" >@language.ADD_TO_CART</a>
                                                </div>
                                                <div class="group-price">
                                                    @if (data.Product_ProductStatus.Where(x => x.ProductStatusId == 2).FirstOrDefault() != null)
                                                    {
                                                        <span class="product-new">@language.NEW</span>
                                                    }
                                                    @if (data.Product_ProductStatus.Where(x => x.ProductStatusId == 4).FirstOrDefault() != null)
                                                    {
                                                        <span class="product-sale">@language.SALE</span>
                                                    }
                                                </div>
                                            </div>
                                            <div class="right-block">
                                                <h5 class="product-name"><a asp-controller="san-pham" asp-action="index" asp-route-link="@data.Url">@data.Name</a></h5>
                                                <div class="content_price">
                                                    @if (data.PriceDiscount.HasValue)
                                                    {
                                                        <span class="price product-price">@data.PriceDiscount.Value.ToString("C0", CultureInfo.CurrentCulture)</span>
                                                        <span class="price old-price">@data.Price.ToString("C0", CultureInfo.CurrentCulture)</span>

                                                    }
                                                    else
                                                    {
                                                        <span class="price product-price">@data.Price.ToString("C0", CultureInfo.CurrentCulture)</span>
                                                    }
                                                </div>
                                                <div class="product-star">
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star-half-o"></i>
                                                </div>
                                            </div>
                                        </li>
                                    }
                                </ul>
                            </div>
                            <!-- tab product -->
                            <div class="tab-panel" id="tab-11">
                                <ul class="product-list owl-carousel" data-dots="false" data-loop="true"
                                    data-nav="true" data-margin="0" data-autoplayTimeout="1000"
                                    data-autoplayHoverPause="true"
                                    data-responsive='{"0":{"items":1},"600":{"items":3},"1000":{"items":4}}'>
                                    @for (int i = 0; i < Model.DongHoTreEm.OrderByDescending(v=>v.ViewsCount).Count(); i++)
                                    {
                                        var data = Model.DongHoTreEm.OrderByDescending(v=>v.ViewsCount).ToList()[i];
                                        <li>
                                            <div class="left-block">
                                                <a asp-controller="san-pham" asp-action="index" asp-route-link="@data.Url">
                                                    @if (data.Product_Media.Count() > 0)
                                                    {
                                                        <img class="img-responsive" alt="product" src="@data.Product_Media[0].Media.Link" />
                                                    }
                                                    else
                                                    {
                                                        <img class="img-responsive" alt="product" src="/assets/data/p35.jpg" />
                                                    }
                                                </a>
                                                <div class="quick-view">
                                                    @*<a title="Add to my wishlist" class="heart" ></a>
                                                        <a title="Add to compare" class="compare" ></a>*@
                                                    <a title="Quick view" class="search" ></a>
                                                </div>
                                                <div class="add-to-cart">
                                                    <a title="@language.ADD_TO_CART" >@language.ADD_TO_CART</a>
                                                </div>
                                                <div class="group-price">
                                                    @if (data.Product_ProductStatus.Where(x => x.ProductStatusId == 2).FirstOrDefault() != null)
                                                    {
                                                        <span class="product-new">@language.NEW</span>
                                                    }
                                                    @if (data.Product_ProductStatus.Where(x => x.ProductStatusId == 4).FirstOrDefault() != null)
                                                    {
                                                        <span class="product-sale">@language.SALE</span>
                                                    }
                                                </div>
                                            </div>
                                            <div class="right-block">
                                                <h5 class="product-name"><a asp-controller="san-pham" asp-action="index" asp-route-link="@data.Url">@data.Name</a></h5>
                                                <div class="content_price">
                                                    @if (data.PriceDiscount.HasValue)
                                                    {
                                                        <span class="price product-price">@data.PriceDiscount.Value.ToString("C0", CultureInfo.CurrentCulture)</span>
                                                        <span class="price old-price">@data.Price.ToString("C0", CultureInfo.CurrentCulture)</span>

                                                    }
                                                    else
                                                    {
                                                        <span class="price product-price">@data.Price.ToString("C0", CultureInfo.CurrentCulture)</span>
                                                    }
                                                </div>
                                                <div class="product-star">
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star-half-o"></i>
                                                </div>
                                            </div>
                                        </li>
                                    }
                                </ul>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <!-- end featured category Digital-->
        <!-- featured category furniture -->
        <div class="category-featured">
            <nav class="navbar nav-menu nav-menu-blue2 show-brand">
                <div class="container">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-brand"><a ><i class="fa fa-user-tag"></i>@language.SPECIAL_VERSION</a></div>
                    <span class="toggle-menu"></span>
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse">
                        <ul class="nav navbar-nav">
                            <li class="active"><a data-toggle="tab" href="#tab-12">@language.BESTSELLER</a></li>
                            <li><a data-toggle="tab" href="#tab-13">@language.MOST_VIEWED</a></li>
                        </ul>
                    </div><!-- /.navbar-collapse -->
                </div><!-- /.container-fluid -->
                <div id="elevator-5" class="floor-elevator">
                    <a href="#elevator-4" class="btn-elevator up fa fa-angle-up"></a>
                    <a href="#elevator-6" class="btn-elevator down fa fa-angle-down"></a>
                </div>
            </nav>
            <div class="category-banner">
                <div class="col-sm-6 banner">
                    <a asp-controller="san-pham"><img alt="ads2" class="img-responsive" src="/assets/data/ads12.jpg" /></a>
                </div>
                <div class="col-sm-6 banner">
                    <a asp-controller="san-pham"><img alt="ads2" class="img-responsive" src="/assets/data/ads13.jpg" /></a>
                </div>
            </div>
            <div class="product-featured clearfix">
                <div class="banner-featured">
                    <div class="featured-text"><span>featured</span></div>
                    <div class="banner-img">
                        <a asp-controller="san-pham" asp-action="index" asp-route-link="@Model.DongHoPhienBanDacBiet.ToList()[rnd.Next(0,Model.DongHoPhienBanDacBiet.Count())].Url"><img class="img-responsive" alt="product" src="@(Model.DongHoPhienBanDacBiet.ToList()[0].Product_Media.Count() > 0 ?  Model.DongHoPhienBanDacBiet.ToList()[0].Product_Media[0].Media.Link : "/assets/data/p35.jpg")" /></a>
                    </div>
                </div>
                <div class="product-featured-content">
                    <div class="product-featured-list">
                        <div class="tab-container autoheight">
                            <!-- tab product -->
                            <div class="tab-panel active" id="tab-12">
                                <ul class="product-list owl-carousel" data-dots="false" data-loop="true"
                                    data-nav="true" data-margin="0" data-autoplayTimeout="1000"
                                    data-autoplayHoverPause="true"
                                    data-responsive='{"0":{"items":1},"600":{"items":3},"1000":{"items":4}}'>
                                    @for (int i = 0; i < Model.DongHoPhienBanDacBiet.Count(); i++)
                                    {
                                        var data = Model.DongHoPhienBanDacBiet.ToList()[i];
                                        <li>
                                            <div class="left-block">
                                                <a asp-controller="san-pham" asp-action="index" asp-route-link="@data.Url">
                                                    @if (data.Product_Media.Count() > 0)
                                                    {
                                                        <img class="img-responsive" alt="product" src="@data.Product_Media[0].Media.Link" />
                                                    }
                                                    else
                                                    {
                                                        <img class="img-responsive" alt="product" src="/assets/data/p35.jpg" />
                                                    }
                                                </a>
                                                <div class="quick-view">
                                                    @*<a title="Add to my wishlist" class="heart" ></a>
                                                        <a title="Add to compare" class="compare" ></a>*@
                                                    <a title="Quick view" class="search" ></a>
                                                </div>
                                                <div class="add-to-cart">
                                                    <a title="@language.ADD_TO_CART" >@language.ADD_TO_CART</a>
                                                </div>
                                                <div class="group-price">
                                                    @if (data.Product_ProductStatus.Where(x => x.ProductStatusId == 2).FirstOrDefault() != null)
                                                    {
                                                        <span class="product-new">@language.NEW</span>
                                                    }
                                                    @if (data.Product_ProductStatus.Where(x => x.ProductStatusId == 4).FirstOrDefault() != null)
                                                    {
                                                        <span class="product-sale">@language.SALE</span>
                                                    }
                                                </div>
                                            </div>
                                            <div class="right-block">
                                                <h5 class="product-name"><a asp-controller="san-pham" asp-action="index" asp-route-link="@data.Url">@data.Name</a></h5>
                                                <div class="content_price">
                                                    @if (data.PriceDiscount.HasValue)
                                                    {
                                                        <span class="price product-price">@data.PriceDiscount.Value.ToString("C0", CultureInfo.CurrentCulture)</span>
                                                        <span class="price old-price">@data.Price.ToString("C0", CultureInfo.CurrentCulture)</span>

                                                    }
                                                    else
                                                    {
                                                        <span class="price product-price">@data.Price.ToString("C0", CultureInfo.CurrentCulture)</span>
                                                    }
                                                </div>
                                                <div class="product-star">
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star-half-o"></i>
                                                </div>
                                            </div>
                                        </li>
                                    }
                                </ul>
                            </div>
                            <!-- tab product -->
                            <div class="tab-panel" id="tab-13">
                                <ul class="product-list owl-carousel" data-dots="false" data-loop="true"
                                    data-nav="true" data-margin="0" data-autoplayTimeout="1000"
                                    data-autoplayHoverPause="true"
                                    data-responsive='{"0":{"items":1},"600":{"items":3},"1000":{"items":4}}'>
                                    @for (int i = 0; i < Model.DongHoPhienBanDacBiet.OrderByDescending(v=>v.ViewsCount).Count(); i++)
                                    {
                                        var data = Model.DongHoPhienBanDacBiet.OrderByDescending(v=>v.ViewsCount).ToList()[i];
                                        <li>
                                            <div class="left-block">
                                                <a asp-controller="san-pham" asp-action="index" asp-route-link="@data.Url">
                                                    @if (data.Product_Media.Count() > 0)
                                                    {
                                                        <img class="img-responsive" alt="product" src="@data.Product_Media[0].Media.Link" />
                                                    }
                                                    else
                                                    {
                                                        <img class="img-responsive" alt="product" src="/assets/data/p35.jpg" />
                                                    }
                                                </a>
                                                <div class="quick-view">
                                                    @*<a title="Add to my wishlist" class="heart" ></a>
                                                        <a title="Add to compare" class="compare" ></a>*@
                                                    <a title="Quick view" class="search" ></a>
                                                </div>
                                                <div class="add-to-cart">
                                                    <a title="@language.ADD_TO_CART" >@language.ADD_TO_CART</a>
                                                </div>
                                                <div class="group-price">
                                                    @if (data.Product_ProductStatus.Where(x => x.ProductStatusId == 2).FirstOrDefault() != null)
                                                    {
                                                        <span class="product-new">@language.NEW</span>
                                                    }
                                                    @if (data.Product_ProductStatus.Where(x => x.ProductStatusId == 4).FirstOrDefault() != null)
                                                    {
                                                        <span class="product-sale">@language.SALE</span>
                                                    }
                                                </div>
                                            </div>
                                            <div class="right-block">
                                                <h5 class="product-name"><a asp-controller="san-pham" asp-action="index" asp-route-link="@data.Url">@data.Name</a></h5>
                                                <div class="content_price">
                                                    @if (data.PriceDiscount.HasValue)
                                                    {
                                                        <span class="price product-price">@data.PriceDiscount.Value.ToString("C0", CultureInfo.CurrentCulture)</span>
                                                        <span class="price old-price">@data.Price.ToString("C0", CultureInfo.CurrentCulture)</span>

                                                    }
                                                    else
                                                    {
                                                        <span class="price product-price">@data.Price.ToString("C0", CultureInfo.CurrentCulture)</span>
                                                    }
                                                </div>
                                                <div class="product-star">
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star-half-o"></i>
                                                </div>
                                            </div>
                                        </li>
                                    }
                                </ul>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <!-- end featured category furniture-->
        <!-- featured category jewelry -->
        <div class="category-featured">
            <nav class="navbar nav-menu nav-menu-gray show-brand">
                <div class="container">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-brand">
                        <a ><i class="fa fa-hourglass"></i>@language.LIMITED_EDITION</a>
                    </div>
                    <span class="toggle-menu"></span>
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse">
                        <ul class="nav navbar-nav">
                            <li class="active"><a data-toggle="tab" href="#tab-14">@language.BESTSELLER</a></li>
                            <li><a data-toggle="tab" href="#tab-15">@language.MOST_VIEWED</a></li>
                        </ul>
                    </div><!-- /.navbar-collapse -->
                </div><!-- /.container-fluid -->
                <div id="elevator-6" class="floor-elevator">
                    <a href="#elevator-5" class="btn-elevator up fa fa-angle-up"></a>
                    <a  class="btn-elevator disabled down fa fa-angle-down"></a>
                </div>
            </nav>
            <div class="category-banner">
                <div class="col-sm-6 banner">
                    <a asp-controller="san-pham"><img alt="ads2" class="img-responsive" src="/assets/data/ads14.jpg" /></a>
                </div>
                <div class="col-sm-6 banner">
                    <a asp-controller="san-pham"><img alt="ads2" class="img-responsive" src="/assets/data/ads15.jpg" /></a>
                </div>
            </div>
            <div class="product-featured clearfix">
                <div class="banner-featured">
                    <div class="featured-text"><span>featured</span></div>
                    <div class="banner-img">
                        <a asp-controller="san-pham" asp-action="index" asp-route-link="@Model.DongHoPhienBanGioiHan.ToList()[rnd.Next(0,Model.DongHoPhienBanGioiHan.Count())].Url"><img class="img-responsive" alt="product" src="@(Model.DongHoPhienBanGioiHan.ToList()[0].Product_Media.Count() > 0 ?  Model.DongHoPhienBanGioiHan.ToList()[0].Product_Media[0].Media.Link : "/assets/data/p35.jpg")" /></a>
                    </div>
                </div>
                <div class="product-featured-content">
                    <div class="product-featured-list">
                        <div class="tab-container autoheight">
                            <!-- tab product -->
                            <div class="tab-panel active" id="tab-14">
                                <ul class="product-list owl-carousel" data-dots="false" data-loop="true"
                                    data-nav="true" data-margin="0" data-autoplayTimeout="1000"
                                    data-autoplayHoverPause="true"
                                    data-responsive='{"0":{"items":1},"600":{"items":3},"1000":{"items":4}}'>
                                    @for (int i = 0; i < Model.DongHoPhienBanGioiHan.Count(); i++)
                                    {
                                        var data = Model.DongHoPhienBanGioiHan.ToList()[i];
                                        <li>
                                            <div class="left-block">
                                                <a asp-controller="san-pham" asp-action="index" asp-route-link="@data.Url">
                                                    @if (data.Product_Media.Count() > 0)
                                                    {
                                                        <img class="img-responsive" alt="product" src="@data.Product_Media[0].Media.Link" />
                                                    }
                                                    else
                                                    {
                                                        <img class="img-responsive" alt="product" src="/assets/data/p35.jpg" />
                                                    }
                                                </a>
                                                <div class="quick-view">
                                                    @*<a title="Add to my wishlist" class="heart" ></a>
                                                        <a title="Add to compare" class="compare" ></a>*@
                                                    <a title="Quick view" class="search" ></a>
                                                </div>
                                                <div class="add-to-cart">
                                                    <a title="@language.ADD_TO_CART" >@language.ADD_TO_CART</a>
                                                </div>
                                                <div class="group-price">
                                                    @if (data.Product_ProductStatus.Where(x => x.ProductStatusId == 2).FirstOrDefault() != null)
                                                    {
                                                        <span class="product-new">@language.NEW</span>
                                                    }
                                                    @if (data.Product_ProductStatus.Where(x => x.ProductStatusId == 4).FirstOrDefault() != null)
                                                    {
                                                        <span class="product-sale">@language.SALE</span>
                                                    }
                                                </div>
                                            </div>
                                            <div class="right-block">
                                                <h5 class="product-name"><a asp-controller="san-pham" asp-action="index" asp-route-link="@data.Url">@data.Name</a></h5>
                                                <div class="content_price">
                                                    @if (data.PriceDiscount.HasValue)
                                                    {
                                                        <span class="price product-price">@data.PriceDiscount.Value.ToString("C0", CultureInfo.CurrentCulture)</span>
                                                        <span class="price old-price">@data.Price.ToString("C0", CultureInfo.CurrentCulture)</span>

                                                    }
                                                    else
                                                    {
                                                        <span class="price product-price">@data.Price.ToString("C0", CultureInfo.CurrentCulture)</span>
                                                    }
                                                </div>
                                                <div class="product-star">
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star-half-o"></i>
                                                </div>
                                            </div>
                                        </li>
                                    }
                                </ul>
                            </div>
                            <!-- tab product -->
                            <div class="tab-panel" id="tab-15">
                                <ul class="product-list owl-carousel" data-dots="false" data-loop="true"
                                    data-nav="true" data-margin="0" data-autoplayTimeout="1000"
                                    data-autoplayHoverPause="true"
                                    data-responsive='{"0":{"items":1},"600":{"items":3},"1000":{"items":4}}'>
                                    @for (int i = 0; i < Model.DongHoPhienBanGioiHan.OrderByDescending(v=>v.ViewsCount).Count(); i++)
                                    {
                                        var data = Model.DongHoPhienBanGioiHan.OrderByDescending(v=>v.ViewsCount).ToList()[i];
                                        <li>
                                            <div class="left-block">
                                                <a asp-controller="san-pham" asp-action="index" asp-route-link="@data.Url">
                                                    @if (data.Product_Media.Count() > 0)
                                                    {
                                                        <img class="img-responsive" alt="product" src="@data.Product_Media[0].Media.Link" />
                                                    }
                                                    else
                                                    {
                                                        <img class="img-responsive" alt="product" src="/assets/data/p35.jpg" />
                                                    }
                                                </a>
                                                <div class="quick-view">
                                                    @*<a title="Add to my wishlist" class="heart" ></a>
                                                        <a title="Add to compare" class="compare" ></a>*@
                                                    <a title="Quick view" class="search" ></a>
                                                </div>
                                                <div class="add-to-cart">
                                                    <a title="@language.ADD_TO_CART" >@language.ADD_TO_CART</a>
                                                </div>
                                                <div class="group-price">
                                                    @if (data.Product_ProductStatus.Where(x => x.ProductStatusId == 2).FirstOrDefault() != null)
                                                    {
                                                        <span class="product-new">@language.NEW</span>
                                                    }
                                                    @if (data.Product_ProductStatus.Where(x => x.ProductStatusId == 4).FirstOrDefault() != null)
                                                    {
                                                        <span class="product-sale">@language.SALE</span>
                                                    }
                                                </div>
                                            </div>
                                            <div class="right-block">
                                                <h5 class="product-name"><a asp-controller="san-pham" asp-action="index" asp-route-link="@data.Url">@data.Name</a></h5>
                                                <div class="content_price">
                                                    @if (data.PriceDiscount.HasValue)
                                                    {
                                                        <span class="price product-price">@data.PriceDiscount.Value.ToString("C0", CultureInfo.CurrentCulture)</span>
                                                        <span class="price old-price">@data.Price.ToString("C0", CultureInfo.CurrentCulture)</span>

                                                    }
                                                    else
                                                    {
                                                        <span class="price product-price">@data.Price.ToString("C0", CultureInfo.CurrentCulture)</span>
                                                    }
                                                </div>
                                                <div class="product-star">
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star-half-o"></i>
                                                </div>
                                            </div>
                                        </li>
                                    }
                                </ul>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <!-- end featured category jewelry-->
        <!-- Baner bottom -->
        <div class="row banner-bottom">
            <div class="col-sm-6">
                <div class="banner-boder-zoom">
                    <a ><img alt="ads" class="img-responsive" src="/assets/data/ads17.jpg" /></a>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="banner-boder-zoom">
                    <a ><img alt="ads" class="img-responsive" src="/assets/data/ads18.jpg" /></a>
                </div>
            </div>
        </div>
        <!-- end banner bottom -->
    </div>
</div>