@using ECommerce.Models.View;
@using System.Globalization;
@model HomeDataView
@{
    var allBrand = new List<ECommerce.Model.EFModel.Models.BrandProduct>();
    for (int i = 0; i < Model.DongHoNam.Count(); i++)
    {
        var pro = Model.DongHoNam[i];
        if (!allBrand.Contains(pro.BrandProduct))
        {
            allBrand.Add(pro.BrandProduct);
        }
    }
    for (int i = 0; i < Model.DongHoNu.Count(); i++)
    {
        var pro = Model.DongHoNu[i];
        if (!allBrand.Contains(pro.BrandProduct))
        {
            allBrand.Add(pro.BrandProduct);
        }
    }
    for (int i = 0; i < Model.DongHoCap.Count(); i++)
    {
        var pro = Model.DongHoCap[i];
        if (!allBrand.Contains(pro.BrandProduct))
        {
            allBrand.Add(pro.BrandProduct);
        }
    }
    for (int i = 0; i < Model.DongHoPhienBanDacBiet.Count(); i++)
    {
        var pro = Model.DongHoPhienBanDacBiet[i];
        if (!allBrand.Contains(pro.BrandProduct))
        {
            allBrand.Add(pro.BrandProduct);
        }
    }
    for (int i = 0; i < Model.DongHoPhienBanGioiHan.Count(); i++)
    {
        var pro = Model.DongHoPhienBanGioiHan[i];
        if (!allBrand.Contains(pro.BrandProduct))
        {
            allBrand.Add(pro.BrandProduct);
        }
    }
}
<div class="container">
    <div class="brand-showcase">
        <h2 class="brand-showcase-title">
            @language.TRADEMARK
        </h2>
        <div class="brand-showcase-box">
            <ul class="brand-showcase-logo owl-carousel" data-loop="true" data-nav="true" data-dots="false"
                data-margin="1" data-autoplayTimeout="1000" data-autoplayHoverPause="true"
                data-responsive='{"0":{"items":2},"600":{"items":5},"1000":{"items":8}}'>
                @for (int i = 0; i < allBrand.Count(); i++)
                {
                    <li data-tab="showcase-@i" class="item @(i==0?"active":"")" style="height: 40px;vertical-align: middle;text-align: center;">
                        @*<img src="/assets/data/gucci.png" alt="logo"
                            class="item-img" />*@
                        @allBrand[i].Name
                    </li>
                }
            </ul>
            <div class="brand-showcase-content">
                @for (int i = 0; i < allBrand.Count(); i++)
                {
                    <div class="brand-showcase-content-tab @(i==0?"active":"")" id="showcase-@i">
                        <div class="row">
                            <div class="col-xs-12 col-sm-4 trademark-info">
                                <div class="trademark-logo">
                                    @*<a href="#"><img src="/assets/data/trademark.jpg" alt="trademark"></a>*@
                                    <a href="#">
                                        @allBrand[i].Name
                                    </a>
                                </div>
                                <div class="trademark-desc">
                                    @ECommerce.Resources.Languages.Home.home.TRADE_1
                                </div>
                                <a href="#" class="trademark-link">shop this brand</a>
                            </div>
                            <div class="col-xs-12 col-sm-8 trademark-product">
                                <div class="row">
                                    @for (int j = 0; j < allBrand[i].Products.Take(4).Count(); j++)
                                    {
                                        var data = allBrand[i].Products[j];
                                        <div class="col-xs-12 col-sm-6 product-item">
                                            <div class="image-product hover-zoom">
                                                <a asp-controller="san-pham" asp-action="index" asp-route-link="@data.Url">
                                                    @if (data.Product_Media.Count() > 0)
                                                    {
                                                        <img class="img-responsive" alt="product" src="@data.Product_Media[0].Media.Link" />
                                                    }
                                                    else
                                                    {
                                                        <img class="img-responsive" alt="product" src="/assets/data/p35.jpg" />
                                                    }
                                                </a>
                                            </div>
                                            <div class="info-product">
                                                <h5 class="product-name"><a asp-controller="san-pham" asp-action="index" asp-route-link="@data.Url">@data.Name</a></h5>
                                                <span class="product-price">
                                                    @data.Price.ToString("C0", CultureInfo.CurrentCulture)
                                                </span>
                                                <div class="product-star">
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                </div>
                                                <a class="btn-view-more" title="@language.SEE_MORE" asp-controller="san-pham" asp-action="index" asp-route-link="@data.Url">@language.SEE_MORE</a>
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>

    </div>
</div>