@using ECommerce.Models.View;
@using System.Globalization;
@model HomeSliderProductPartial
<div class="page-top">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-9 page-top-left">
                <div class="popular-tabs">
                    <ul class="nav-tab">
                        <li class="active"><a data-toggle="tab" href="#tab-1">@language.BESTSELLER</a></li>
                        <li><a data-toggle="tab" href="#tab-2">@language.ON_SALE</a></li>
                        <li><a data-toggle="tab" href="#tab-3">@language.NEW_MODEL</a></li>
                    </ul>
                    <div class="tab-container">
                        <div id="tab-1" class="tab-panel active">
                            <ul class="product-list owl-carousel" data-dots="false" data-loop="true" data-nav="true"
                                data-margin="30" data-autoplayTimeout="1000" data-autoplayHoverPause="true"
                                data-responsive='{"0":{"items":1},"600":{"items":3},"1000":{"items":3}}'>
                                @for (int i = 0; i < Model.sanPhamChayNhat.Count(); i++)
                                {
                                    var data = Model.sanPhamChayNhat[i];
                                    <li>

                                        <div class="left-block">
                                            <a asp-controller="san-pham" asp-action="index" asp-route-link="@data.Url">
                                                @if (data.Product_Media.Count() > 0)
                                                {
                                                    <img class="img-responsive" alt="product" src="@data.Product_Media[0].Media.Link" />
                                                }
                                                else
                                                {
                                                    <img class="img-responsive" alt="product" src="/assets/data/p35.jpg" />
                                                }
                                            </a>
                                            <div class="quick-view">
                                                @*<a title="Add to my wishlist" class="heart" ></a>*@
                                                <a title="Add to compare" class="compare"></a>
                                                <a title="Quick view" class="search"></a>
                                            </div>
                                            <div class="add-to-cart">
                                                <a title="@language.ADD_TO_CART">@language.ADD_TO_CART</a>
                                            </div>
                                            <div class="group-price">
                                                @if (data.Product_ProductStatus.Where(x => x.ProductStatusId == 2).FirstOrDefault() != null)
                                                {
                                                    <span class="product-new">@language.NEW</span>
                                                }
                                                @if (data.Product_ProductStatus.Where(x => x.ProductStatusId == 4).FirstOrDefault() != null)
                                                {
                                                    <span class="product-sale">@language.SALE</span>
                                                }
                                            </div>
                                        </div>
                                        <div class="right-block">
                                            <h5 class="product-name"><a asp-controller="san-pham" asp-action="index" asp-route-link="@data.Url">@data.Name</a></h5>
                                            <div class="content_price">
                                                @if (data.PriceDiscount.HasValue)
                                                {
                                                    <span class="price product-price">@data.PriceDiscount.Value.ToString("C0", CultureInfo.CurrentCulture)</span>
                                                    <span class="price old-price">@data.Price.ToString("C0", CultureInfo.CurrentCulture)</span>

                                                }
                                                else
                                                {
                                                    <span class="price product-price">@data.Price.ToString("C0", CultureInfo.CurrentCulture)</span>
                                                }
                                            </div>
                                            <div class="product-star">
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star-half-o"></i>
                                            </div>
                                        </div>
                                    </li>
                                }
                            </ul>
                        </div>
                        <div id="tab-2" class="tab-panel">
                            <ul class="product-list owl-carousel" data-dots="false" data-loop="true" data-nav="true"
                                data-margin="30" data-autoplayTimeout="1000" data-autoplayHoverPause="true"
                                data-responsive='{"0":{"items":1},"600":{"items":3},"1000":{"items":3}}'>
                                @for (int i = 0; i < Model.sanPhamGiamGia.Count(); i++)
                                {
                                    var data = Model.sanPhamGiamGia[i];
                                    <li>

                                        <div class="left-block">
                                            <a asp-controller="san-pham" asp-action="index" asp-route-link="@data.Url">
                                                @if (data.Product_Media.Count() > 0)
                                                {
                                                    <img class="img-responsive" alt="product" src="@data.Product_Media[0].Media.Link" />
                                                }
                                                else
                                                {
                                                    <img class="img-responsive" alt="product" src="/assets/data/p35.jpg" />
                                                }
                                            </a>
                                            <div class="quick-view">
                                                @*<a title="Add to my wishlist" class="heart" ></a>*@
                                                <a title="Add to compare" class="compare"></a>
                                                <a title="Quick view" class="search"></a>
                                            </div>
                                            <div class="add-to-cart">
                                                <a title="@language.ADD_TO_CART">@language.ADD_TO_CART</a>
                                            </div>
                                            <div class="group-price">
                                                @if (data.Product_ProductStatus.Where(x => x.ProductStatusId == 2).FirstOrDefault() != null)
                                                {
                                                    <span class="product-new">@language.NEW</span>
                                                }
                                                @if (data.Product_ProductStatus.Where(x => x.ProductStatusId == 4).FirstOrDefault() != null)
                                                {
                                                    <span class="product-sale">@language.SALE</span>
                                                }

                                            </div>
                                        </div>
                                        <div class="right-block">
                                            <h5 class="product-name"><a asp-controller="san-pham" asp-action="index" asp-route-link="@data.Url">@data.Name</a></h5>
                                            <div class="content_price">
                                                @if (data.PriceDiscount.HasValue)
                                                {
                                                    <span class="price product-price">@data.PriceDiscount.Value.ToString("C0", CultureInfo.CurrentCulture)</span>
                                                    <span class="price old-price">@data.Price.ToString("C0", CultureInfo.CurrentCulture)</span>

                                                }
                                                else
                                                {
                                                    <span class="price product-price">@data.Price.ToString("C0", CultureInfo.CurrentCulture)</span>
                                                }
                                            </div>
                                            <div class="product-star">
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star-half-o"></i>
                                            </div>
                                        </div>
                                    </li>
                                }
                            </ul>
                        </div>
                        <div id="tab-3" class="tab-panel">
                            <ul class="product-list owl-carousel" data-dots="false" data-loop="true" data-nav="true"
                                data-margin="30" data-autoplayTimeout="1000" data-autoplayHoverPause="true"
                                data-responsive='{"0":{"items":1},"600":{"items":3},"1000":{"items":3}}'>
                                @for (int i = 0; i < Model.sanPhamMoiNhat.Count(); i++)
                                {
                                    var data = Model.sanPhamMoiNhat[i];
                                    <li>

                                        <div class="left-block">
                                            <a asp-controller="san-pham" asp-action="index" asp-route-link="@data.Url">
                                                @if (data.Product_Media.Count() > 0)
                                                {
                                                    <img class="img-responsive" alt="product" src="@data.Product_Media[0].Media.Link" />
                                                }
                                                else
                                                {
                                                    <img class="img-responsive" alt="product" src="/assets/data/p35.jpg" />
                                                }
                                            </a>
                                            <div class="quick-view">
                                                @*<a title="Add to my wishlist" class="heart" ></a>*@
                                                <a title="Add to compare" class="compare"></a>
                                                <a title="Quick view" class="search"></a>
                                            </div>
                                            <div class="add-to-cart">
                                                <a title="@language.ADD_TO_CART">@language.ADD_TO_CART</a>
                                            </div>
                                            <div class="group-price">
                                                @if (data.Product_ProductStatus.Where(x => x.ProductStatusId == 2).FirstOrDefault() != null)
                                                {
                                                    <span class="product-new">@language.NEW</span>
                                                }
                                                @if (data.Product_ProductStatus.Where(x => x.ProductStatusId == 4).FirstOrDefault() != null)
                                                {
                                                    <span class="product-sale">@language.SALE</span>
                                                }

                                            </div>
                                        </div>
                                        <div class="right-block">
                                            <h5 class="product-name"><a asp-controller="san-pham" asp-action="index" asp-route-link="@data.Url">@data.Name</a></h5>
                                            <div class="content_price">
                                                @if (data.PriceDiscount.HasValue)
                                                {
                                                    <span class="price product-price">@data.PriceDiscount.Value.ToString("C0", CultureInfo.CurrentCulture)</span>
                                                    <span class="price old-price">@data.Price.ToString("C0", CultureInfo.CurrentCulture)</span>

                                                }
                                                else
                                                {
                                                    <span class="price product-price">@data.Price.ToString("C0", CultureInfo.CurrentCulture)</span>
                                                }
                                            </div>
                                            <div class="product-star">
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star-half-o"></i>
                                            </div>
                                        </div>
                                    </li>
                                }
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-3 page-top-right">
                <div class="latest-deals">
                    <h2 class="latest-deal-title">DEAL HỜI</h2>
                    <div class="latest-deal-content">
                        <ul class="product-list owl-carousel" data-dots="false" data-loop="true" data-nav="true"
                            data-autoplayTimeout="1000" data-autoplayHoverPause="true"
                            data-responsive='{"0":{"items":1},"600":{"items":3},"1000":{"items":1}}'>
                            @for (int i = 0; i < Model.sanPhamGiamGia.Count(); i++)
                            {
                                var data = Model.sanPhamGiamGia[i];
                                <li>
                                    <div class="count-down-time" data-countdown="@data.DiscountDateTo.Value.ToString("yyyy-MM-dd HH:mm")"></div>
                                    <div class="left-block">
                                        <a asp-controller="san-pham" asp-action="index" asp-route-link="@data.Url">
                                            @if (data.Product_Media.Count() > 0)
                                            {
                                                <img class="img-responsive" alt="product" src="@data.Product_Media[0].Media.Link" />
                                            }
                                            else
                                            {
                                                <img class="img-responsive" alt="product" src="/assets/data/p35.jpg" />
                                            }
                                        </a>
                                        <div class="quick-view">
                                            <a title="Add to compare" class="compare"></a>
                                            <a title="Quick view" class="search"></a>
                                        </div>
                                        <div class="add-to-cart">
                                            <a title="@language.ADD_TO_CART">@language.ADD_TO_CART</a>
                                        </div>
                                    </div>
                                    <div class="right-block">
                                        <h5 class="product-name"><a>@data.Name</a></h5>
                                        <div class="content_price">
                                            <span class="price product-price">@data.PriceDiscount.Value.ToString("C0", CultureInfo.CurrentCulture)</span>
                                            <span class="price old-price">@data.Price.ToString("C0", CultureInfo.CurrentCulture)</span>
                                            @*<span class="colreduce-percentage">(-10%)</span>*@
                                        </div>
                                    </div>
                                </li>
                            }
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>